html {
  margin: 0;
  padding: 0; }

body {
  background: rgba(129, 60, 60, 0.5);
  color: #fffefe;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }
  body.bg-img {
    background: url(../img/Gaming-PC-01.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1; }
  body:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(129, 60, 60, 0.5); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.larg-header, h2.larg-header, h3.larg-header {
    font-size: 5rem; }
  h1.small-header, h2.small-header, h3.small-header {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(136, 63, 63, 0.5); }

h1 {
  padding-top: 10rem;
  padding-left: 1rem; }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 5;
  width: 100%; }

.secondName {
  color: #016890; }

i {
  margin: 10px 15px; }
  i:hover {
    color: #016890;
    transition: all 0.5s ease-out; }

.home {
  overflow: hidden; }

.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-dash {
    transition: all 0.5s ease-out;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background-color: white; }
    .menu-btn .btn-dash.show:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn .btn-dash.show:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px); }
    .menu-btn .btn-dash.show:nth-child(2) {
      transform: rotate(45deg) translate(-2px, -2px);
      opacity: 0; }
  .menu-btn.close {
    transform: rotate(90deg); }

.home {
  margin-left: 4rem; }

.menu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  z-index: -1; }
  .menu.show {
    visibility: visible; }

.brand, .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s ease-out; }

li {
  list-style: none;
  text-align: center; }

.nav {
  background: #703434;
  transform: translate3d(0, 100%, 0); }
  .nav.show {
    transition: all 0.5s ease-out;
    transform: translate3d(0, 0, 0); }

.brand {
  background: #813c3c;
  transform: translate3d(0, -100%, 0); }
  .brand.show {
    transition: all 0.5s ease-out;
    transform: translate3d(0, 0, 0); }
  .brand .protrait {
    width: 250px;
    height: 250px;
    background: url(../img/IMAG06090.jpg);
    border-radius: 50%;
    border: solid 3px #813c3c; }
