html {
  margin: 0;
  padding: 0; }

body {
  background: rgba(78, 0, 0, 0.5);
  color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }
  body.bg-img {
    background: url(../img/Gaming-PC-01.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1; }
  body:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(78, 0, 0, 0.5); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.larg-header, h2.larg-header, h3.larg-header {
    font-size: 5rem;
    padding-top: 10rem;
    padding-left: 2rem; }
  h1.larg-header1, h2.larg-header1, h3.larg-header1 {
    font-size: 5rem;
    padding-top: 3rem;
    padding-left: 2rem; }
  h1.small-header, h2.small-header, h3.small-header {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 2rem;
    background: rgba(88, 0, 0, 0.2); }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 5;
  width: 100%; }

.secondName {
  color: #a2ad01; }

i {
  margin: 10px 15px;
  color: #fff; }
  i:hover {
    color: #a2ad01;
    transition: all 0.5s ease-out; }

.home {
  overflow: hidden; }

.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-dash {
    transition: all 0.5s ease-out;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff; }
    .menu-btn .btn-dash.show:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn .btn-dash.show:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px); }
    .menu-btn .btn-dash.show:nth-child(2) {
      transform: rotate(45deg) translate(-2px, -2px);
      opacity: 0; }
  .menu-btn.close {
    transform: rotate(90deg); }

.home {
  margin-left: 0rem; }

.menu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  z-index: -1; }
  .menu.show {
    visibility: visible; }

.brand, .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s ease-out; }

li {
  list-style: none;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 1rem; }
  li:hover {
    color: #a2ad01;
    cursor: pointer; }

.nav {
  background: #350000;
  transform: translate3d(0, 100%, 0); }
  .nav.show {
    transition: all 0.5s ease-out;
    transform: translate3d(0, 0, 0); }

.brand {
  background: #4e0000;
  transform: translate3d(0, -100%, 0); }
  .brand.show {
    transition: all 0.5s ease-out;
    transform: translate3d(0, 0, 0); }

.protrait {
  width: 250px;
  height: 250px;
  background: url(../img/IMAG06090.jpg);
  border-radius: 50%;
  border: solid 5px #737a01; }

.nav-item {
  transform: translate3d(0, 600px, 0);
  opacity: 0;
  transition: all 0.5s ease-out; }
  .nav-item.show {
    transition: all 0.5s ease-out;
    opacity: 100;
    transform: translate3d(0, 0, 0); }
  .nav-item.current {
    color: #a2ad01; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.icons {
  padding-left: 2rem; }

.main-footer {
  width: 100%;
  text-align: center;
  align-self: center;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #350000; }

.bg-overlay {
  background-color: #4e0000; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bio-image bio bio"     "job1 job2 job3";
  grid-template-columns: 1fr 1fr 1fr; }

.bio-image {
  grid-area: bio-image;
  width: 250px;
  height: 250px;
  margin-left: 2rem;
  background: url(../img/IMAG06090.jpg);
  border-radius: 50%;
  border: solid 5px #737a01; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

.job1 {
  grid-area: job1; }

.job2 {
  grid-area: job2; }

.job3 {
  grid-area: job3; }

.job {
  background: #680000;
  margin: 0.5rem;
  margin-right: 0;
  padding: 0.5rem;
  padding-left: 1rem;
  border-bottom: #a2ad01 5px solid; }

@media screen and (max-width: 700px) {
  html {
    margin: 0;
    padding: 0; }
  body {
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0; }
    body .larg-header {
      line-height: 1;
      margin: 0rem;
      margin-bottom: 1rem;
      margin-top: 10vh; }
    body .larg-header1 {
      line-height: 1;
      margin: 0rem;
      margin-bottom: 1rem;
      margin-top: 10vh;
      padding: 0; }
    body .small-header {
      margin: 0;
      padding: 0; }
    body .home {
      margin: 0;
      overflow: normal; }
  .menu {
    float: none; }
    .menu .brand {
      transform: translate3d(-100%, 0, 0);
      width: 100%;
      height: 30vh;
      transition-delay: 0.1s; }
      .menu .brand .protrait {
        width: 150px;
        height: 150px;
        background: url(../img/IMAG06090sm.jpg); }
      .menu .brand.show {
        transform: translate3d(0, 0, 0); }
    .menu .nav {
      transform: translate3d(100%, 0, 0);
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-right: 1rem;
      height: 70vh; }
      .menu .nav.show {
        transform: translate3d(0, 0, 0);
        transition-delay: 0.1s; }
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "bio-image" "bio"     "job1" "job2" "job3";
    grid-template-columns: 1fr; }
  .bio-image {
    margin: auto; }
  .job {
    margin: 30px; }
  .bio {
    margin: 30px; }
  .nav-item {
    transform: translate3d(1000px, 0, 0);
    opacity: 0;
    transition: all 0.5s ease-out; }
    .nav-item.show {
      transition: all 0.5s ease-out;
      opacity: 100;
      transform: translate3d(0, 0, 0); }
    .nav-item.current {
      color: #a2ad01; }
  .nav-item:nth-child(1) {
    transition-delay: 0.1s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.2s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.3s; } }
