@media screen and (max-width: 500px) {
  html {
    margin: 0;
    padding: 0; }
  body {
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0; }
    body .larg-header {
      line-height: 1;
      margin: 0rem;
      margin-bottom: 1rem;
      margin-top: 10vh; }
    body .small-header {
      margin: 0;
      padding: 0; }
    body .home {
      margin: 0;
      overflow: normal; }
  .menu {
    float: none; }
    .menu .brand {
      transform: translate3d(-100%, 0, 0);
      width: 100%;
      height: 30vh;
      transition-delay: 0.1s; }
      .menu .brand .protrait {
        width: 150px;
        height: 150px;
        background: url(../img/IMAG06090sm.jpg); }
      .menu .brand.show {
        transform: translate3d(0, 0, 0); }
    .menu .nav {
      transform: translate3d(100%, 0, 0);
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-right: 1rem;
      height: 70vh; }
      .menu .nav.show {
        transform: translate3d(0, 0, 0);
        transition-delay: 0.1s; } }

html {
  margin: 0;
  padding: 0; }

body {
  background: rgba(112, 12, 12, 0.5);
  color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }
  body.bg-img {
    background: url(../img/Gaming-PC-01.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1; }
  body:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(112, 12, 12, 0.5); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.larg-header, h2.larg-header, h3.larg-header {
    font-size: 5rem; }
  h1.small-header, h2.small-header, h3.small-header {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(121, 13, 13, 0.5); }

h1 {
  padding-top: 10rem;
  padding-left: 1rem; }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 5;
  width: 100%; }

.secondName {
  color: #a2ad01; }

i {
  margin: 10px 15px;
  color: #fff; }
  i:hover {
    color: #a2ad01;
    transition: all 0.5s ease-out; }

.home {
  overflow: hidden; }

.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-dash {
    transition: all 0.5s ease-out;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff; }
    .menu-btn .btn-dash.show:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn .btn-dash.show:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px); }
    .menu-btn .btn-dash.show:nth-child(2) {
      transform: rotate(45deg) translate(-2px, -2px);
      opacity: 0; }
  .menu-btn.close {
    transform: rotate(90deg); }

.home {
  margin-left: 4rem; }

.menu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  z-index: -1; }
  .menu.show {
    visibility: visible; }

.brand, .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s ease-out; }

li {
  list-style: none;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 1rem; }
  li:hover {
    color: #a2ad01;
    cursor: pointer; }

.nav {
  background: #590a0a;
  transform: translate3d(0, 100%, 0); }
  .nav.show {
    transition: all 0.5s ease-out;
    transform: translate3d(0, 0, 0); }

.brand {
  background: #700c0c;
  transform: translate3d(0, -100%, 0); }
  .brand.show {
    transition: all 0.5s ease-out;
    transform: translate3d(0, 0, 0); }
  .brand .protrait {
    width: 250px;
    height: 250px;
    background: url(../img/IMAG06090.jpg);
    border-radius: 50%;
    border: solid 5px #737a01; }

.nav-item {
  transform: translate3d(0, 600px, 0);
  opacity: 0;
  transition: all 0.5s ease-out; }
  .nav-item.show {
    transition: all 0.5s ease-out;
    opacity: 100;
    transform: translate3d(0, 0, 0); }
  .nav-item.current {
    color: #a2ad01; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }
