@import "config";
@import "mobile";

html {
    margin: 0;
    padding: 0;
}

body {
    @include image;
    background: rgba($primary-color,0.5);
    color: rgb(255, 254, 254);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
    
}

h1 ,h2 ,h3 {
    margin: 0;
    font-weight: 400;

&.larg-header {
        font-size: 5rem;
    }
    
&.small-header {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, $amount: 2),0.5);
    }
}

h1 {
    padding-top: 10rem;
    padding-left: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 5;
    width: 100%;
}
.secondName {
    color: $secondary-color;
}

i {
    margin: 10px 15px ;
    &:hover{
        color: $secondary-color;
        @include transitions();
    }
}
.home {
    overflow: hidden;
}

.menu-btn {
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
    @include transitions;

    .btn-dash{
    @include transitions;
     width: 28px;
     height: 3px;
     margin-bottom: 5px;
     background-color: white;   
     
     &.show {
            &:nth-child(1){
             transform: rotate(45deg) translate(5px,5px ); 
            }
            &:nth-child(3){
                transform: rotate(-45deg) translate( 6px , -6px) ; 
            }

            &:nth-child(2){
                transform: rotate(45deg) translate(-2px,-2px);
                opacity: 0;
        }
            
    }
}
&.close{
    transform: rotate(90deg);
}
}
.home {
    margin-left: 4rem;
}
.menu { 
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    z-index: -1;
    
    &.show{
     visibility: visible;
 }
 
 
 
}
.brand , .nav  {
         display: flex;
         //flex-flow: column wrap;
         align-items: center;
         justify-content: center;
        
         float: right;
         width : 50%;
         height: 100vh;
         overflow: hidden;
         @include transitions;
        }
        li {
            list-style:  none;
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 400;
            padding-bottom: 1rem;
            &:hover {
                color: $secondary-color;
                cursor: pointer;
            }
        }
        .nav {
            background: darken($primary-color, 5);
            transform: translate3d(0,100%,0);
            &.show {
                @include transitions;
                transform: translate3d(0,0,0,);
            }
        }
        .brand {
            background: $primary-color;
            transform: translate3d(0,-100%,0);
            &.show {
                @include transitions;
                transform: translate3d(0,0,0,);
            }
            .protrait {
                width: 250px;
                height: 250px;
                background: url(../img/IMAG06090.jpg);
                border-radius: 50%;
                border: solid 5px darken($secondary-color,10);
            }
        }
        .nav-item {
            transform: translate3d(0,600px,0);
            opacity: 0;
            @include transitions;

            &.show {
                @include transitions;
                opacity: 100;
                transform: translate3d(0,0,0);
            }

            &.current {
                color: $secondary-color;
            }
        }
        @for $x from 1 to 4 {
            .nav-item:nth-child(#{$x}){
            transition-delay: $x*0.1s;
        }
    }